<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rocket Goals.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7716AF631F4ED424000472E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>776598D51F500E070091094E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>776598E31F500F4A0091094E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>776598F11F569A540091094E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
